
body {
    font-family: Inter;
}

.UnderLine {
    text-decoration: underline;
}



/* header */

header {
    position: relative;
    z-index: 2;
    background: linear-gradient(90deg, #2166AB 15%, #1F5E9C 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    height: 70px;
    width: 100%;
}

/* logo */

#logo {
    display: flex;
}


/* navbar phone */

#navbar {
    display: none;
}

.navEl {
    font-size: 24px;
    color: #ffffff;
    
    margin: 20px;
    
    text-decoration: none;

}

.navEl:hover {
    text-decoration: underline;
}

#phone3lines {
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: right;
    margin: 17px;
}

/*banner*/

.banner {
    position: relative;
    text-align: center;
    color: #ffffff;
}

#bannertext {
    /* on top of img */
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* rest */
    text-wrap-mode: nowrap;

}

#bannertext h1 {
    margin-bottom: 0%;
    font-size: 24px;
}

#bannertext h2 {
    margin-top: 3px;
    font-size: 16px;
}

#bannerimg {
    min-height: 150px;
}

@media (max-width: 767px) {
   
    #phone3lines {
    display: flex;
    visibility: visible;
}
    
}

@media (min-width: 768px) {
    
    /* navbar Tab / Pc */
    
    #navbar {
    
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-content: center;
        justify-content: space-between;
    }


    #bannertext {
        text-wrap-mode: nowrap;
    }

    #bannertext h1 {
        margin-bottom: 0%;
        font-size: 42px;
    }

    #bannertext h2 {
        margin-top: 3px;
        font-size: 26px;
    }

    #phone3lines {
        display: none;
    }

}